body{
    margin: 0;
    bottom: 0;
    background-color: #F7F8FA;
}
/*родительская сетка*/
.wrapper {
    height: 100vh;
    display: grid;
    grid-template-rows: 80px 1fr 80px;
    grid-template-columns: 15% 1fr 15%;
}
/*Свойства для сетки header*/
.headerGrid {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

/*Свойства для блока header*/
.header {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 155px 155px 155px;
    background-color: #000000;
}

/*Свойства для вложенных блоков в header*/
.logo {
    grid-column-start: 2;
    grid-column-end: 3;
    color: white;
}

.logo p {
    font-size: 30px;
    margin: 21px auto;
}

.courses {
    grid-column-start: 3;
    grid-column-end: 3;
    width: 15vw;
    
}

.courses p {
    font-size: 25px;
    text-align: justify;
    color: white;
}

.search {
    grid-column-start: 4;
    grid-column-end: 5;
    width: 15vw;
}

.search input {
    width: 15em;
    margin: 30px auto;
}

/*Свойства для сетки middleBlock*/
.middleBlockGrid {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

/*Свойства для блока middleBlock*/
.middleBlock {
    display: grid;
    grid-template-rows: 100px 1fr;
    grid-template-columns: 1fr  1fr;
    background-color: #ffffff;
}

.centerContent {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    margin-top: 25px;
    text-align:center;
}

.centerContent p:first-child {
    font-size: 28px;
    font-weight: bold;
}

.leftContent {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    margin-top: 50px;
    text-align: center;
}

.leftContent p:first-child {
    width: 90%;
    margin: 10px 5% auto;
    font-size: 28px;
    font-weight: bold;
    border-bottom: 1px solid #808080;
    
}

/*Свойства для сетки footer*/
.footerGrid {
    grid-column-start: 4;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 4;
}

/*Свойства для блока footer*/
.footer {
    display: grid;
    background-color: #000000;
}
